@charset "UTF-8";

/* Versão Tablet */
@media only screen and (min-width: 768px) and (max-width: 992px) {}

/* Desktop Devices*/
@media only screen and (min-width: 992px) {

.header {
    margin: 1rem 8.459rem 1.875rem 8.459rem;
    
}

.header > img {
    width: 45px;
    height: auto;
}

.menu_hamburguer{
    display: none;
}

.menu_navegacao {
    display: flex;
    justify-content: flex-end;
    gap: 67px;
    width: max-content;
    text-wrap: nowrap;
}
}

.menu_navegacao > li {
    font-family: 'Share', sans-serif;
    color: #000;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    list-style: none;
    width: max-content;
}

/*.pagina_principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 135px;
}*/


.first_page {
    margin-left: 135px;
}

.pagina_principal {
    display: flex;
}

.dog_pagina_principal_mobile {
    display: none;
}

.textos_principais {
    margin: 0;
    box-sizing: border-box;
    padding-top: 60px;
    justify-content: flex-start;
}

.textos_principais > h2 {
    display: flex;
    align-self: baseline;
    font-size: 40px;
    line-height: 31px;
    font-weight: 300;
}

.textos_principais > h1 {
    display: flex;
    align-self: baseline;
    font-size: 72px;
    line-height: 90px;
    text-wrap: nowrap;
}

.textos_principais > p {
    font-family: 'Share', sans-serif;
    padding-right: 95px;
}

.dog_pagina_principal_desktop {
    width: 735px;
    padding-right: 650px;
}

.dog_pagina_principal_desktop > img {
    width: 700px;
}

.container {
    display: none;
}








}